/*product ukm list*/
.brick img {
    margin: 0;
    display: block;
}

.brick{
    box-shadow:2px 2px 10px rgba(0,0,0,.4);
}

.brick h3 {
    position:absolute;
    top:-10px;
    left:0px;
    background:rgba(0,0,0,.3);
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    color: #fff;
    font-size: 1.3em;
}
.brick p {
    padding: 5px 10px;
}
/* end product list */

/* .sltg-filter {
    background-color: #85c04b;
    color: #eee;
}

.sltg-filter select, .sltg-filter input, .sltg-filter button {
    font-family:'ralewayregular';
    border:0;
}

.filter-center button {
    cursor:pointer;
    color: #eee;
    background-color:#73A740;
}
.filter-center button:hover {
    background-color:#618C36;
    color: #eee;
}

.filter-center button.searching {
    background-color:#f00;
    color:#eee;
}

.filter-center button:focus{
    outline:none;
} */

/* .sltg-content {
    margin: 15px;
}

.sltg-content ul {
    list-style:none;
    margin:0;
    padding:0;
} */

/*.content-top h1 {
    width:100%;
    text-align:center;
}

.ctn-md-small{
    text-align:center;
}

.ctn-article {
    text-align:justify;
}

.ctn-pictgrid {
    background-color:red;
}

.ctn-pictgrid a {
    background-color:rgba(133,192,75,1);
    float:left;
    vertical-align:middle;
    height:150px;
}
.ctn-pictgrid img {
    margin:0;
    max-height:150px;
}

.content-bottom{
    clear:both;
}

.thumbnail-list {
    background-color:#eee;
}
.thumbnail-list-img {
    height:200px;
    max-height:200px;
    min-height:100px;
    background-repeat:no-repeat;
    background-size:100%;
    background-color:#fff;
}

.thumbnail-list h4 {
}

.thumbnail-list p {
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    text-align:justify;
}

#sltg-map {
    height: 500px;
    width: 70%;
    margin:0 auto;
}

.sltg-pagination{
    font-family: 'ralewaybold';
    line-height:1;
    text-align:center;
    background: #85c04b;
}

.sltg-pagination ul{
    list-style:none;
    position:relative;
}
.sltg-pagination li{
    display:inline;
}

.sltg-pagination li a {
    color: #fff;
    font-family: 'ralewaybold';
}

.sltg-pagination li a:hover {
    color: #444;
}

.sltg-pagination li.active a {
    color: #fff;
    font-size:14px;
    color: #444;
}

hr.last-separator {
    clear:both;
    margin-top:190px;
}

.mini-opt{
    width:100%;
}

.mini-opt-left {
    display:flex;
}

.mini-opt-left li {
    padding:10px;
}*/

/*@media only screen and (min-width:1025px) and (max-width:1366px) { *//* <<<<<< FUCKING M-EDGE */ 
@media only screen and (min-width:1025px) {
    .gutter {
        abackground-color:rgba(0,0,0,.5);
    }


.sltg-wrapper{
    width:1024px;
    margin:0 auto;
    scolor:#eee;
}

    .wrap-head, .wrap-body, .wrap-foot {
        apadding:10px;
        abackground-color:red;
    }

        .content-wrapper {
            color:#333;
            abackground-color:green;
            apadding:10px 40px;
        }

            .content-holder {
            }

            .content-holder-head, .content-holder-body, .content-holder-foot, .single-row {
                display:flex;
            }

            .content-holder-head {
                abackground-color:orange;
            }

            .content-holder-body{
            }

            .chb-column {
                padding:10px;
                margin:10px;
            }

            .column-1 {
                width:10%;
                background-color:brown;
                amargin:10px;
            }

            .column-2 {
                width:20%;
                abackground-color:gray;
                amargin:10px;
            }

            .column-3 {
                width:30%;
                abackground-color:pink;
                amargin:10px;
            }

            .column-4 {
                width:40%;
                abackground-color:blue;
                amargin:10px;
            }

            .column-5 {
                width:50%;
                abackground-color:black;
                amargin:10px;
            }

            .column-6 {
                width:60%;
                abackground-color:yellow;
                amargin:10px;
            }

            .column-7 {
                width:70%;
                abackground-color:yellow;
                amargin:10px;
            }

            .column-8 {
                width:80%;
                abackground-color:yellow;
                amargin:10px;
            }

            .column-10 {
                width:100%;
                abackground-color:purple;
            }

            .thumb-holder {
                background-color:#fff;
            }

            .thumb-holder-body {
                float:left;
            }

            /*.grid-column {
                abackground-color:green;
                float:left;
            }*/

            .thb-column-2 {
                abackground-color:blue;
                apadding:10px;
                width:50%;
                aheight:200px;
            }

            .thb-column-4 {
                abackground-color:blue;
                apadding:10px;
                width:25%;
                aheight:200px;
            }

            .grid-content {
                background-color:#fff;
                margin:5px;
                height:200px;
                amarginpadding:5px;
                position:relative;
            }

            .list-content {
                background-color:rgba(0,0,0,.04);
                margin:5px;
                height:200px;
                amarginpadding:5px;
                position:relative;
            }

            .grid-content .img-a div{
                height:200px;
                background-size:cover;
            }

            .list-content .img-a div{
                height:200px;
                width:50%;
                background-size:cover;
            }

            .transparent-down {
                background-color:#fff;
                opacity:.5;
            }

            .grid-content .title-a h4 {
                background-color: rgba(0,0,0,.6);
                position:absolute;
                bottom:-10px;
                width:100%;
                color: #eee;
                text-align:center;
                padding:10px 0;
                font-size:1.1em;
                letter-spacing:1px;
            }

            .list-content .title-a h4 {
                background-color: rgba(0,0,0,.6);
                position:absolute;
                abottom:-10px;
                width:50%;
                color: #eee;
                text-align:center;
                padding:10px 0;
                font-size:1.1em;
                letter-spacing:1px;
                top:-10px;
                left:50%;
            }

            .grid-content p{
                display:none;
                background-color: rgba(255,255,255,.8);
                width:80%;
                height:140px;
                position:absolute;
                top:40px;
                left:5%;
                padding:10px 5%;
                text-align:left;
                color:#333;
                z-index:2;
            }

            .list-content p{
                abackground-color: rgba(255,255,255,.8);
                text-align:left;
                color:#333;
                z-index:2;
                position:absolute;
                width:40%;
                right:0;
                top:30px;
                height:150px;
                padding:10px 5%;
            }

            .grid-content h4.to-top {
                acolor:#fff;
                top:-10px;
                color:#fff;
                height:20px;
                padding-top:10px;
                background-color:#333;
                z-index:3;
            }

    .wrap-navi {
        background-color:#73A740;
        color:#eee;
    }

    .wrap-navi a{
        color:#eee;
    }

    .wrap-navi select, .wrap-navi button, .wrap-navi input {
        border:0;
        padding:0;
        margin:0;
        color:#666;
        height:30px;
        font-family:'ralewayregular';
        letter-spacing:1px;
        padding:5px 10px;
    }

    .wrap-navi select {
        cursor:pointer;
    }

    .wrap-navi input, .wrap-navi button {
    }

    .wrap-navi input {
    }

    .wrap-navi button {
        cursor:pointer;
        height:40px;
        color:#333;
    }

    .wrap-navi button:hover {
        color:#eee;
        background-color:#666;
    }

    .wrap-navi p{
        letter-spacing:1px;
    }

    .main-content{
        background-color:#eee;
        color:#666;
    }

    .main-content .content-holder-head {
        background-color:#666;
        color:#eee;
    }

    .main-content .content-section p{
        text-align:justify;
        letter-spacing:1px;
        line-height:2;
    }

    .gallery-content{
        background-color:#9AEF1B;
        color:#666;
    }

    .gallery-content .content-holder-head {
        background-color:#80D500;
        color:#666;
    }

    .gallery-content h2 {
        color:#fff;
    }

    .creator-content{
        background-color:#9515EA;
        color:#eee;
    }

    .creator-content .content-holder-head {
        background-color:#8000D5;
        color:#eee;
    }

    .creator-content h2, .creator-content h4, .creator-content h5 {
        color:#eee
    }

    .content-navi {
        background-color:#666;
    }

    .content-navi ul {
        abackground-color:red;
        list-style:none;
        padding:0;
        margin:0;
        adisplay:flex;
    }

    .content-navi ul li {
        abackground-color:yellow;
        float:left;
        padding:0;
        margin:0;
    }

    .content-navi ul li a {
        abackground-color:gray;
        margin:0;
        color:#fff;
        padding:3px 5px;
        float:left;
    }

    .content-navi ul li.active a {
        background-color:#eee;
        color:#333;
    }

    .content-navi ul li a:hover {
        color:#333;
        background-color:#eee;
    }

    .tourist-content{
        background-color:#eee;
    }

    .map-content {
        background-color:#FF7F2A;
    }

    .map-content .content-holder-head {
        background-color:#E86914;
    }

    .map-content h2 {
        color:#fff;
    }

    #sltg-map {
        height: 500px;
        width: 1024px;
    }

/*     .wrap-head{
        abackground-color:#85c04b;
        abackground-color:#73A740;
        apadding:10px;
        amargin-bottom:15px;
    }
                

        .wrap-navi a{
            color:#fff;
        }

    .wrap-body{
        abackground-color:#fff;
    }
        .main-content{
            background-color:#fff;
        }

        .content-holder {
            color:#444;
            position:relative;
            apadding-top:40px;
        }

        .content-holder p{
            text-align:justify;
            font-family:'ralewayregular';
            line-height:2;
        }

        .main-content .content-holder-head {
            background-color:#444;
        } */

/*             .content-holder-head {
                abackground-color:red;
                position:absolute;
                width:1004px;
                left:-40px;
                top:-10px;
                apadding:5px 10px;
            }

            .content-holder-head h1 {
                text-align:center;
                abackground-color:yellow;
                margin:0;
                color:#eee;
                font-weight:bolder;
                letter-spacing:1px;
            }

            .content-holder-head h2 {
                text-align:center;
                abackground-color:yellow;
                margin:0;
                color:#eee;
                afont-weight:bolder;
                letter-spacing:1px;
            }

            .content-holder-body {
                abackground-color:blue;
            }
            
            .content-holder-body-flex {
                display:flex;
            } */

            /*.dual-column-left {
                margin-right:40px;
            }

            .dual-column-left img {
                margin-top:7px;
            }*/

/*         .gallery-content {
            background-color:#3BBA3B;
        }

        .gallery-content .content-holder-head {
            background-color:#20A020;
        }

        .creator-content {
            background-color:#8D62E2;
        }

        .creator-content .content-holder-head {
            background-color:#5C31B1;
        }

        .creator-content .content-section{
            background-color:rgba(255,255,255,.4);
            margin-top:10px;
            aborder:2px dashed #8D62E2;
        }

        .creator-content .section-article{
            padding:10px;
            color:#5527B1;
            font-size:1.1em;
        }

        .creator-content .section-article h3, .creator-content .section-article h4, .creator-content .section-article h5 {
            font-weight:bold;
            letter-spacing:1px;
            color:#5527B1;
            font-family:'ralewayregular';
        } */

/*     .sltg-filter{
        display:flex;
        font-family: 'ralewayregular';
        font-size:1.2em;
    }

    .sltg-filter select, .sltg-filter input, .sltg-filter button {
        font-family:inherit;
        font-size:inherit;
        border:none;
    }

    .filter-left, .filter-right {
        width: 246px;
    }

    .filter-center{
        width: 502px;
    }

    .filter-left{
        margin-right:5px;
        adisplay:flex;
    }

    .filter-left p{
        width:40%;
        padding:0;
        margin:0;
        float:left;
    }

    .filter-left select {
        width:60%;
        margin:0;
    }
    
    .filter-center {
        display:flex;
        font-size:1.4em;
        margin-right:5px;
    }
    
    .filter-center input {
        width:402px;
        padding:2px 10px;
    }

    .filter-center button {
        width:100px;
        padding:2px 10px;
        font-family:'ralewaybold';
        color:inherit;
        background-color:#73A740;
    }

    .filter-center button:hover {
        background-color: #618C36;
        cursor:pointer;
    }

    .filter-right {
        width:246px;
    }

    .filter-right p{
        width:56%;
        padding:0;
        margin:0;
        float:left;
        text-align:right;
        padding-right:4%;
    }

    .filter-right select {
        width:40%;
    }

    .content-main {
        background-color:rgba(255,255,255,1);
        color:#555;
        font-size:1.1em;
    }

    .content-main h1 {
        text-align:center;
        padding:10px;
        letter-spacing:2px;
        color:#555;
        background-color:#eee;
    } */

/*     .content-top h1 {
        text-align:center;
        color:#666;
    } */

/*     .content-middle{
        color:#666;
    } */

/*     .content-main ul {
        list-style:none;
    } */

/*     .content-middle ul{
        list-style: none;
    } */

/*     .content-main p {
        text-align:justify;
    } */

/*     .content-middle p{
        text-align:justify;
    } */

/*     .ctn-mid-dual {
        display:flex;
    }

    .ctn-md-small {
        width:359px;
        padding:0 25px;
    }

    .ctn-article {
        padding:0px 20px;
        margin:0;
        text-align:justify;
    }

    .ctn-md-large {
        width:615px;
    }

    .ctn-md-large-max{
        width:800px;
    }

    #sltg-map{
        width:800px;
        height:500px;
    }

    .ctn-md-small-max{
        width:224px;
    }

    .mini-opt{
    }

    .mini-opt ul {
        display:flex;
    }

    .mini-opt ul li {
        padding:10px;
    }

    .mini-opt ul li.active{
        background-color:#73A740;
    }

    .mini-opt ul li.active a{
        color:#eee;
    }

    .grid-list-area{
    }

    .thumbnail-list-img:hover{
        opacity:.6;
    }

    .thumbnail-grid {
        position:relative;
        float:left;
        padding:10px;
    }

    .thumbnail-grid-img {
        height:180px;
        width:180px;
    }

    .thumbnail-grid h4 {
        position:absolute;
        bottom:0;
        background-color:rgba(0,0,0,.5);
        width:160px;
        padding:5px 10px;
        font-size:1em;
        font-family:'ralewayregular';
        color:#eee;
        letter-spacing:1px;
    }

    .thumbnail-grid-img{
        background-size:cover
    }

    .thumbnail-grid p{
        display:none;
        background-color: rgba(255,255,255,.8);
        width:150px;
        height:130px;
        position:absolute;
        top:40px;
        left:20px;
        padding:5px;
        text-align:left;
        color:#222;
        font-size:1.1em;
        z-index:2;
    }

    .thumbnail-grid h4.to-top {
        acolor:#fff;
        top:0px;
        color:#fff;
        height:20px;
        padding-top:10px;
        background-color:#333;
        z-index:3;
    }

/*     .thumbnail-grid a:hover > p{
        display:block;
    } */

    .thumbnail-list {
        width:360px;
        padding:10px;
        float:left;
        abackground-color:blue;
    }

    .thumbnail-list-img {
        width:150px;
        height:150px;
        float:left;
        background-size:cover;
    }

    .thumbnail-list h4, .thumbnail-list p {
        margin-left:160px;
    }

    .thumbnail-list h4 {
        color:#555;
        letter-spacing:1px;
    }

    .thumbnail-list h4:hover {
        color:#000;
    }

    .thumbnail-list-description{
        color:#555;
        display:block !important;
    }

    .gallery-area{
        background-color:#FCDC70;
    }

    .gallery-area h2 {
        padding:5px 10px;
        background-color:#FBD140;
    } 

    .ctn-pictgrid {
        abackground-color:red;
        aheight:120px;
        padding:10px;
    }

    .ctn-pictgrid a {
        abackground-color:rgba(133,192,75,1);
        afloat:left;
        vertical-align:middle;
        height:120px;
    }
    .ctn-pictgrid img {
        margin:0;
        max-height:120px;
    }

    .content-bottom{
        color:#666;
        clear:both;
    }

    .content-creator{
        background-color:#1394E7;
        color:#000;
    }

    .content-creator h2 {
        background-color:#0272BE;
        padding:5px 10px;
        color:#eee;
    }

    .content-creator ul {
        list-style:none;
    }

    .sltg-pagination{
        font-family: 'ralewaybold';
        line-height:1;
        text-align:center;
        background: #85c04b;
        margin-top:15px;
    }

    .sltg-pagination ul{
        list-style:none;
        position:relative;
    }
    .sltg-pagination li{
        display:inline;
    }

    .sltg-pagination li a {
        color: #fff;
        font-family: 'ralewaybold';
    }

    .sltg-pagination li a:hover {
        color: #444;
    }

    .sltg-pagination li.active a {
        color: #fff;
        font-size:14px;
        color: #444;
    } */

/*     .ctn-mid-dual {
        display:inline-flex;
        width:100%;
    }

    .ctn-md-small{
        width:30% !important;
    }

    .ctn-md-large{
        width:65%;
        margin-left:5%;
    }

    .sltg-filter:after{
        content:'';
        clear:both;
        display:table;
    }

    .sltg-filter div {
        float:left;
        padding:1%;
        font-size:1.1em;
    }

    .sltg-filter select, .sltg-filter input[type='text'], .sltg-filter button {
        font-size:1em;
        margin:0;
    }

    .sltg-filter select {
        padding:5px;
    }

    .filter-left {
        width:28%;
    }

    .filter-left span, .filter-left select {
        vertical-align:middle;
    }

    .filter-left span{
        padding-right:5%;
        width:35%;
    }

    .filter-left select{
        width:60%;
    }

    .filter-center {
        width:38%;
    }

    .filter-center input, .filter-center button {
        display:inline-block;
        font-size:1.1em;
        padding:10px;
        vertical-align:middle;
    }

    .filter-center input[type='text'] {
        width:73%;
    }

    .filter-center button {
        width:20%;
    }

    .filter-right {
        width:28%;
        text-align:right;
    }

    .filter-right span, .filter-right select {
        vertical-align:middle;
    }

    .sltg-pagination{
        font-size:14pt;
    }

    .sltg-pagination ul{
        position:relative;
        padding:5px;
    } */
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .ctn-mid-dual {
    }

    .ctn-mid-dual {
        display:inline-flex;
        width:100%;
    }

    .ctn-md-small{
        width:30%;
    }

    .ctn-md-large{
        width:65%;
        margin-left:5%;
    }

    .sltg-filter:after{
        content:'';
        clear:both;
        display:table;
    }

    .sltg-filter div {
        float:left;
        padding:1%;
        font-size:1.1em;
    }

    .sltg-filter select, .sltg-filter input[type='text'], .sltg-filter button {
        font-size:1em;
        margin:0;
    }

    .sltg-filter select {
        padding:5px;
    }

    .filter-left {
        width:28%;
    }

    .filter-left span, .filter-left select {
        vertical-align:middle;
    }

    .filter-left span{
        padding-right:5%;
        width:35%;
    }

    .filter-left select{
        width:60%;
    }

    .filter-center {
        width:38%;
    }

    .filter-center input, .filter-center button {
        display:inline-block;
        font-size:1.1em;
        padding:10px;
        vertical-align:middle;
    }

    .filter-center input[type='text'] {
        width:70%;
    }

    .filter-center button {
        width:20%;
    }

    .filter-right {
        width:28%;
        text-align:right;
    }

    .filter-right span, .filter-right select {
        vertical-align:middle;
    }

    .sltg-pagination{
        font-size:14pt;
    }

    .sltg-pagination ul{
        position:relative;
        padding:5px;
    }

    .ctn-pictgrid a {
        height:80px;
    }
    .ctn-pictgrid img {
        max-height:80px;
    }
    .ctn-pictgrid a:first-child{
    }
    .ctn-pictgrid a:last-child{
    }

    hr.last-separator {
        margin-top:115px;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .ctn-mid-dual {
    }

    .ctn-mid-dual {
        width:100%;
    }

    .ctn-md-small{
        width:100%;
    }

    .ctn-md-large{
        width:100%;
        
    }

    .thumbnail-list-img {
        max-height:100px;
    }

    .sltg-filter:after{
        content:'';
        clear:both;
        display:table;
    }

    .sltg-filter div {
        float:left;
        padding:1%;
        font-size:1.1em;
    }

    .sltg-filter select, .sltg-filter input[type='text'], .sltg-filter button {
        font-size:1em;
        margin:0;
    }

    .sltg-filter select {
        padding:5px;
    }

    .filter-left {
        width:28%;
    }

    .filter-left span, .filter-left select {
        vertical-align:middle;
    }

    .filter-left span{
        padding-right:5%;
        width:25%;
    }

    .filter-left select{
        width:50%;
    }

    .filter-center {
        width:68%;
    }

    .filter-center input, .filter-center button {
        display:inline-block;
        padding:6px;
        vertical-align:middle;
    }

    .filter-center input[type='text'] {
        width:78%;
    }

    .filter-center button {
        width:15%;
    }

    .filter-right {
        display:none;
    }

    #sltg-map {
        height:300px;
    }

    .ctn-pictgrid a {
        height:70px;
    }
    .ctn-pictgrid img {
        max-height:70px;
    }

    hr.last-separator {
        margin-top:105px;
    }
}

@media only screen and (max-width:480px) {

    .ctn-md-small {
        margin-bottom: 5%;
        position:relative;
    }

    #sltg-map {
        height:300px;
        width:100%;
    }

    .thumbnail-list-img {
        max-height:100px;
    }

    .filter-left{
        margin-bottom:5px;
    }
        .filter-left span {
            width:30%;
            float:left;
        }
        .filter-left select {
            width:70%;
        }
    .filter-center{
        text-align:right;
    }
        .filter-center input{
            float:left;
            width:98%;
            padding:1%;
        }
        .filter-center button{
            width:50%;
        }
    .filter-right{
        display:none;
    }

    .ctn-pictgrid a {
        height:50px;
    }
    .ctn-pictgrid img {
        max-height:50px;
    }

    hr.last-separator {
        margin-top:80px;
    }
}